<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my Flask Application. This is me, Vamsi.</h1>
    <p>Name : Vamsi Krishna</p>
    <p>Work : Jenkins and Argocd with Docker Containers</p>
    <button onclick=goToAbout()>Go to About</button>
    <script>
        function goToAbout(){
            window.location.href = "/about"
        }
    </script>
</body>
</html>